<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>adminSystem</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMerchantByCriteriaServlet</display-name>
    <servlet-name>SearchMerchantByCriteriaServlet</servlet-name>
    <servlet-class>servlet.SearchMerchantByCriteriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMerchantByCriteriaServlet</servlet-name>
    <url-pattern>/SearchMerchantByCriteria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMerchantDetailsServlet</display-name>
    <servlet-name>ShowMerchantDetailsServlet</servlet-name>
    <servlet-class>servlet.ShowMerchantDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMerchantDetailsServlet</servlet-name>
    <url-pattern>/showMerchantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JMSListenerServlet</display-name>
    <servlet-name>JMSListenerServlet</servlet-name>
    <servlet-class>servlet.JMSListenerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JMSListenerServlet</servlet-name>
    <url-pattern>/JMSListener</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMerchantStatusServlet</display-name>
    <servlet-name>UpdateMerchantStatusServlet</servlet-name>
    <servlet-class>servlet.UpdateMerchantStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMerchantStatusServlet</servlet-name>
    <url-pattern>/updateMerchantStatus</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RequestFilter</display-name>
    <filter-name>RequestFilter</filter-name>
    <filter-class>filter.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/adminIndex.jsp</url-pattern>
    <url-pattern>/adminSearchMerchantDetails.jsp</url-pattern>
    <url-pattern>/showMerchantDetails.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOutstandingServlet</display-name>
    <servlet-name>ShowOutstandingServlet</servlet-name>
    <servlet-class>servlet.ShowOutstandingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOutstandingServlet</servlet-name>
    <url-pattern>/ShowOutstanding</url-pattern>
  </servlet-mapping>
</web-app>