<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>merchantSystem</display-name>
  <welcome-file-list>
    <welcome-file>merchantLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowCaptcha</display-name>
    <servlet-name>ShowCaptcha</servlet-name>
    <servlet-class>servlet.ShowCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCaptcha</servlet-name>
    <url-pattern>/ShowCaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantLoginServlet</display-name>
    <servlet-name>MerchantLoginServlet</servlet-name>
    <servlet-class>servlet.MerchantLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantRegisterServlet</display-name>
    <servlet-name>MerchantRegisterServlet</servlet-name>
    <servlet-class>servlet.MerchantRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantRegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProfileServlet</display-name>
    <servlet-name>ShowProfileServlet</servlet-name>
    <servlet-class>servlet.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProfileServlet</servlet-name>
    <url-pattern>/showProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JMSListenerServlet</display-name>
    <servlet-name>JMSListenerServlet</servlet-name>
    <servlet-class>servlet.JMSListenerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JMSListenerServlet</servlet-name>
    <url-pattern>/JMSListenerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexPageServlet</display-name>
    <servlet-name>ShowIndexPageServlet</servlet-name>
    <servlet-class>servlet.ShowIndexPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexPageServlet</servlet-name>
    <url-pattern>/showIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditPageServlet</display-name>
    <servlet-name>ShowEditPageServlet</servlet-name>
    <servlet-class>servlet.ShowEditPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditPageServlet</servlet-name>
    <url-pattern>/showEditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllShopServlet</display-name>
    <servlet-name>ShowAllShopServlet</servlet-name>
    <servlet-class>servlet.ShowAllShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllShopServlet</servlet-name>
    <url-pattern>/showAllShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShopServlet</display-name>
    <servlet-name>ShowShopServlet</servlet-name>
    <servlet-class>servlet.ShowShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShopServlet</servlet-name>
    <url-pattern>/showShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDishServlet</display-name>
    <servlet-name>AddDishServlet</servlet-name>
    <servlet-class>servlet.AddDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDishServlet</servlet-name>
    <url-pattern>/AddDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopServlet</display-name>
    <servlet-name>AddShopServlet</servlet-name>
    <servlet-class>servlet.AddShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopServlet</servlet-name>
    <url-pattern>/addShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDishPageServlet</display-name>
    <servlet-name>AddDishPageServlet</servlet-name>
    <servlet-class>servlet.AddDishPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDishPageServlet</servlet-name>
    <url-pattern>/AddDishPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditShopServlet</display-name>
    <servlet-name>EditShopServlet</servlet-name>
    <servlet-class>servlet.EditShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditShopServlet</servlet-name>
    <url-pattern>/editShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddShopServlet</display-name>
    <servlet-name>ShowAddShopServlet</servlet-name>
    <servlet-class>servlet.ShowAddShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddShopServlet</servlet-name>
    <url-pattern>/showAddShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDishServlet</display-name>
    <servlet-name>EditDishServlet</servlet-name>
    <servlet-class>servlet.EditDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDishServlet</servlet-name>
    <url-pattern>/EditDish</url-pattern>
  </servlet-mapping>
</web-app>