body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #6b3b25;
	background-color:#38363B;
}
.container {
	width: 1000px;
	margin: 30px auto 80px auto;
	background: #F8FAE5;
}

header {
	min-height: 155px;
}
header #logo {
	margin-top: 42px;
	margin-bottom: 20px;
	float: left;
}
header #logo:hover {
	opacity: 0.8;
}
header #logo img {
	display: block;
	margin: 0 0 0 30px;
}
nav {
	background: url(../img/nav.png) no-repeat top center;
	height: 65px;
	width: 1038px;
	margin-left: -20px;
	font-family: 'Palatino Linotype';
	font-size: 17px;
	font-weight: 700;
}
nav #nav {
	display: block;
	margin-left: 35px;
}
nav #nav > li {
	display: block;
	float: left;
}
nav #nav > li:hover a,
nav #nav > li.current-menu-item a{
	background: #62493d;
	text-shadow: 0px 2px 0px #444;
}
nav #nav > li > a {
	display: block;
	line-height: 65px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #DAEFE0;
	text-shadow: 0px 2px 0px #c68301;
}

#main {
	min-height: 700px;
	position: relative;
	border-top: 5px solid #c6c2bc;
	margin: 0 auto;
}

#admin-login-form{
	width: 30%;
	margin: 0px auto;
}

#admin-logn-form-error{
	color: #D92A55;
	font-size: 14px;
}

#main table{
	margin: 0 auto;
	padding:10px;
}

#main th{
	padding: 5px;
	font-size: 20px;
	text-align: center;
	padding: 15px;
}

#main img{
	max-width: 500px;
	margin: 30px;
}
#main td{
	padding: 5px 100px 5px 5px;
}

/**/
.main-show-dishes img{
	max-width: 300px;
}

}
.block-divider {
	height: 50px;
}

.block-divider-index {
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: url(../img/line.png) no-repeat center center;
}

.client-shop-merchant img{
	width: 300px;
}