/*Genral Setting*/
* {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
}

#indexContainer{
	width: 100%;
	height: 100%;
	border-spacing: 0px;
    border-collapse: 0px;
}

#indexContainerBanner{
	width: 65%;
}

#indexContainerEntryAdmin,#indexContainerEntryClient,#indexContainerEntryMerchant{
	background-color: #FFFFFF;
}

#indexContainerEntryAdmin img,#indexContainerEntryClient img,#indexContainerEntryMerchant img{
	background-color: #FFFFFF;
}

#indexContainerEntryAdmin {
 margin-bottom: 10px;
 width: 160px;
 height:160px;
 display:block;
 background:transparent url('./img/adminButtonNormal.png') center top no-repeat;
}

#indexContainerEntryAdmin:hover {
   background-image: url('./img/adminButtonHover.png');
}


.indexContainerEntry{
	height: 250px;
	line-height:250px;
	text-align:center;
}

.indexContainerEntry a{
	color: #444444;
}


.indexContainerEntry a:hover{
	color: #222222;
}