<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>clientSystem</display-name>
  <welcome-file-list>
    <welcome-file>ShowAllDishes</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>ExceptionFilter</display-name>
    <filter-name>ExceptionFilter</filter-name>
    <filter-class>filter.ExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllDishesServlet</display-name>
    <servlet-name>ShowAllDishesServlet</servlet-name>
    <servlet-class>ui.ShowAllDishesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllDishesServlet</servlet-name>
    <url-pattern>/ShowAllDishes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDishServlet</display-name>
    <servlet-name>ShowDishServlet</servlet-name>
    <servlet-class>ui.ShowDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDishServlet</servlet-name>
    <url-pattern>/ShowDish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMerchantDetailsServlet</display-name>
    <servlet-name>ShowMerchantDetailsServlet</servlet-name>
    <servlet-class>ui.ShowMerchantDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMerchantDetailsServlet</servlet-name>
    <url-pattern>/ShowMerchantDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMerchantInfoServlet</display-name>
    <servlet-name>ViewMerchantInfoServlet</servlet-name>
    <servlet-class>ui.ViewMerchantInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMerchantInfoServlet</servlet-name>
    <url-pattern>/showmwerchant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMerChantDishServlet</display-name>
    <servlet-name>LoadMerChantDishServlet</servlet-name>
    <servlet-class>ui.LoadMerChantDishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMerChantDishServlet</servlet-name>
    <url-pattern>/loaddish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShopAndDishesServlet</display-name>
    <servlet-name>ShowShopAndDishesServlet</servlet-name>
    <servlet-class>ui.ShowShopAndDishesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShopAndDishesServlet</servlet-name>
    <url-pattern>/ShowShopAndDishes</url-pattern>
  </servlet-mapping>
</web-app>